.container {
    /*width: 250px;*/
}

.title {
    color: #ff5200;
    font: 28px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
    margin: 0 0 12px;
    padding: 0
}

.size {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(153, 153, 153);
    font-size: 15px;
}

.hr {
    position: absolute;
    margin: -5px;
    left: 18%;
    clear: both;
    border-width: 0;
    height: 1px;
    background-color: #c3c3c3;
    width: 62%;
}

.weight {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(153, 153, 153);
    font-size: 12px;
}

.price {
    color: #000;
    font: 32px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
}

.cartButton {
    color: #ff5200;
    font: 20px/22px Malina, sans-serif;
    letter-spacing: -.5px;
    -webkit-text-stroke: 1px transparent;
    -webkit-font-smoothing: antialiased;
    background: #e9e9e9;
    border-width: 0;
    padding: 7px 12px 8px;
    margin: 0;
    min-height: 37px;
    min-width: 100px;
    -webkit-border-radius: 11px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 11px;
    -moz-background-clip: padding;
    border-radius: 11px;
    background-clip: padding-box;
    cursor: pointer;
}

.cartButton :hover {
    color: white;
    background-color: green;
}

.description {
    font: 14px Arial, sans-serif;
    text-shadow: white 0 0 2px;
}
