.logoContainer {
    width: 260px;
    height: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto 15px;
}

.footerSlogan {
    width: 285px;
    text-align: center;
    margin: 0 auto 37px;
}

.sloganTiming {
    font: 20px lobster, sans-serif;
    letter-spacing: -1.2px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 8px;
}

.sloganValue {
    font-size: 56px;
    line-height: 1;
    letter-spacing: -3.36px;
    white-space: nowrap;
    font-weight: 700;
}

.sloganTerms {
    max-width: 250px;
    margin: 0 auto;
    font-size: 13px;
}

.notes {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
}

.footerNav {
    margin: 0 0 30px;
    padding: 0 20px;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navListItem {
    margin-bottom: 7px;
}

.a {
    color: #277dff;
    text-decoration: none;
}

.paidList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.paidListItem {
    padding: 0 5px;
}

.paidImg {
    width: 65px;
    border: 0;
}
.installmentNotes{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
    color: #999;
    font-size: 14px;
}

.bottom {
    position: relative;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    color: #999;
    text-align: center;
    padding: 15px;
}
.bottomP {
    margin: 0 0 13px;
    vertical-align: middle;
}
.footer {
    border-top: 1px solid #c3c3c3;
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 18px;
    padding-top: 20px;
}
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
}
